---
import "../sass/main.scss"
import Header from "../components/Header/Header.astro"
import Card from "../components/Card/Card.astro"
import Body from "../components/Body/Body.astro"
import {headerInfo} from "../data/HeaderInfoData"
import {cardInfo} from "../data/CardInfoData"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container">
			<Header 
				titleNormal=`${headerInfo.titulo_normal}` 
				titleStrong=`${headerInfo.titulo_strong}`
				description =`${headerInfo.description}`
			/>
			
			<Body>
				{
					cardInfo.map((item) => (
						<Card 
						item_title={item.title} 
						item_description={item.body}
						item_src={item.src} 
						item_img_name={item.src} />
					))
				}	
			</Body>
		
		</div>
	</body>
</html>
